/* body{
    background-image: url('../pictures/vine2.png');
    background-size: cover;
    background-repeat: no-repeat;
  */
/* } */
.birds{
    float: left;
    width: 30%;
    margin: 1.66%;
    margin-bottom: 1px;
    margin-top:1px;
}

.about h3{
    color: #00796B;
    font-size: 22px;
}
.bird-p{
    float: left;
    width: 30%;
    margin: 1.66%;
    margin-top: 0.01cm;
}

.about{
    margin: 20px;
    margin-top: auto;
}

.plant{
    float: left;
    width: 18%;
    margin: 1%;
    margin-bottom: 2%;
    margin-top:1px;
}

.about hr{
    /* width: 50%; */
    /* border: 1px solid #00796B; */
    opacity: 40%;
    border-color: grey;
   
}
.about h2{
    /* color:#00796B; */
    color: gray;
    /* opacity: 40%; */
}
.about strong{
    color:#00796B;
    opacity: 60%;
}
