body, html {
    height: 100%;
    margin: 0;
    background-image: url("../pictures/f1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
.mainpage{
    text-align: center;  
    /* centers div */
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}
.mainpage p{
    color:#F0F0F0;
    font-weight: bold;
    font-size: 20px;
}
.mainpage p, .mainpage a{

}
.define-arrow{
    font-size: 40px;
    margin-left: 10px ;
    margin-bottom: 4px;
    vertical-align: middle;
}
.define-arrow:hover{
    color: #C8F7C5;
}
.mainpage a{
    display: block;
    color:#66CC99; 
    text-align: center;
    height: 44px;
    font-weight: bold;
  }
.mainpage a:hover{
    color: #C8F7C5;
    text-decoration: none;
}
