
body, html {
    height: 100%;
    margin: 0 auto;
  }
.mainpage-container{
    height: 100vh;
    padding-right: 5%;
    padding-left:5% ;
    background-image: url("../pictures/b1.jpg");
    background-size: cover;
    margin-top: -76px;
}
.mainpage{
    text-align: center;  
    /* centers div */
    margin: 0;
    position: absolute;
    top: 55%;
    /* left: 50%; */
    /* -ms-transform: translate(-50%, -0%); */
    transform: translate(-1%, -50%); 
    cursor: default;
}
.mainpage p{
    color:white;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Source Code Pro';
    /* text-shadow: 1px 0 grey, 0 1px grey, 1px 0 grey, 0 1px grey; */
}
.mainpage p:first-child{
    color: #083358;
    font-size: 40px;
}
.define-arrow{
    font-size: 40px;
    margin-left: 10px ;
    margin-bottom: 4px;
    vertical-align: middle;
}
.define-arrow:hover{
    color: #B9C9CF;
}
/* .mainpage span{
    display: block;
    color: #B9C9CF; 
    text-align: center;
    height: 44px;
    font-weight: bold;
  } */

.buttonpage{
    /* 769FCA */
    background-color:white;
    box-shadow: 5px 10px #8f8f8f;
    border: none;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 12px;
    color: #083358; 
    font-weight: bold;
    outline:0;
}
.mainpage .buttonpage:hover{
    color: #083358;
    background-color: rgb(240, 240, 240);
    text-decoration: none;
    cursor: pointer;
}

.mainpage .buttonpage:active {
    background-color: rgb(240, 240, 240);
    box-shadow: 2px 4px #8f8f8f;
    transform: translateY(4px);
    outline:0;
}

.mainpage .buttonpage:focus{
    outline:0;
}

@media only screen and (max-width: 700px) {

    .mainpage p:not(:first-child){
        font-size: 18px;
        font-family: 'Source Code Pro';
        /* text-shadow: 1px 0 grey, 0 1px grey, 1px 0 grey, 0 1px grey; */
    }
  }