.brand{
    font-size: 22px;
} 
 .navbar-light .navbar-nav .nav-link{
    color: #606060;
} 
.navbar-light .navbar-brand {
    color: #606060;
}
.navbar-light .navbar-brand:focus{
    color: #606060;
}
.navbar-light .navbar-brand:hover {
    color: #00796B; 
  }
a.nav-links.nav-link :hover{
    color:#00796B; 
    opacity: 70%; 
  }
.navbar{
    padding-right:5%;
    padding-left:5%;
    height: 1.2cm;
}

