.brand{
    font-size: 25px;
}
.nav-links{
    padding-right: 2em;
    font-size: 18px;
    color: gray;
}

.navbar-light .navbar-brand {
    color: gray;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #00796B; 
  }
a.nav-links.nav-link :hover{
    color:#00796B; 
    opacity: 70%; 
  }

