.brand{
    font-size: 25px;
    color: blue;
    /* align-self: center; */
}
.Navbar-brand {
    color: #d6d6d6;
}
.nav-links{
    padding-right: 2em;
    font-size: 18px;
    color: gray;
    /* align-self: center; */
}
.Navbar{
    background: black;
}
.navbar-light .navbar-brand {
    color: gray;
}
.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #00796B; 
  }
  a:hover{
    color:#00796B; 
    opacity: 70%; 
  }