/* For project.js */
.projects .grid-container{
    margin-top: 3%;
}
.projects .nav-grid{
    width: 30%;
    /* height: 5cm; */
    float: left;
    margin: 1.66%;
    text-align: center;
    color: black;
    /* font-size: 19px; */
}

/* Breadcrumb */
.breadcrumb-item.active {
    color: black;
}
.breadcrumb li a    {
    color: grey;
}
.breadcrumb{
    background: white;
}

.projects .img-grid{
    width: 100%;  
    padding-bottom: 12px;  
}
/* For brick-breaker.js */
.brick-breaker .game{
    width:960px;
    height:600px;
    border:0;
}

.brick-breaker  th{
    color: rgb(92, 178, 221);
}

.brick-breaker .info-sheet{
    margin-top: 25px;
    margin-bottom: 0px;
}
.brick-breaker span{
    color: rgb(92, 178, 221)
}
/* For Fudger */
.fudger hr{
    border: 1px solid rgb(220,220,220,0.7);
    /* border: 1px solid rgb(27,170,80,0.4); */
}

.fudger *{
    text-align: justify;
}

.fudger .design-process{
    padding-bottom: 1.5%;
}
.fudger a{
    /* color:black; */
    color: #00796B;
}

.fudger .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:#1EBB58;
}
.fudger a:hover{
    color: #1EBB58;
}

.define-icon{
    font-size: 30px;
    color: #1EBB58;
    
}
.design-process{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
}
.persona-img{
  width: 45px;
}

.define-scene{
    font-size: 30px;
    color: #1EBB58;
    margin-right: 20px ;
}

.div-scene{
    display: flex;
    /* padding-bottom: 2px; */

}
/* Find a more elegant solution.scenario for Alice is always 3.75px off for some reason */
.odd-one{ 
    padding-left: 3.75px;
    padding-bottom: 3.75px;
}