/* For project.js */
.projects{
    padding-right: 3%;
    padding-left:3% ;
    padding-top:10px;
    width: 100%;
    height: 100%;
}
.projects .nav-grid{
    width: 25%;
    float: left;
    margin: 4.1%;
    margin-top: 0px;
    text-align: center;
    color: black;
    font-size: 18px;
    /* height: '100vh';
  min-height : '100vh'; */
}
.projects h3{
    padding-top: 8px;
    padding-bottom: 5vh;
    color: #083358;
    font-size: 40px;
    text-align: center;
    text-decoration: overline;
}
.project-info{
    color:grey;
    font-size: 16px;
}
.projects hr{
    margin-top: 5px;
    margin-bottom:10px;
}
.projects .img-grid{
    width: 100%;  
    padding-bottom: 12px;  
}
.projects a:hover{
    color: #769FCA;
    text-decoration: none;
}
/* Breadcrumb */
.breadcrumb-item.active {
    color: black;
}
.breadcrumb li a {
    color: grey;
}
.breadcrumb{
    background-color: transparent;
    padding-right: 3%;
    padding-left:3% ;
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
/* For brick-breaker.js */
.brick-breaker .game{
    width:960px;
    height:600px;
    border:0;
}
.brick-breaker  th{
    color: rgb(92, 178, 221);
}
.brick-breaker .info-sheet{
    margin-top: 25px;
    margin-bottom: 0px;
}
.game-div{
    width: '100%';
}

/* For Fudger */
.fudger hr{
    border: 1px solid rgb(220,220,220,0.7);
}
.fudger *{
    text-align: justify;
}
.fudger .design-process{
    padding-bottom: 1.5%;
}
.fudger a{
    /* color:black; */
    color: #769FCA;
    text-decoration: underline;
}

.fudger .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link{
    text-decoration: none;
}
.fudger .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color:#083358;
}
.fudger a:hover{
    color: #769FCA;
}
.fudger .bread-crumb-a:hover{
    color:#769FCA;
}
.define, .design, .develop, .discover{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 15px;
}
.fudger h3{
    margin-left: 3%;
}
.define-icon{
    font-size: 30px;
    color: #769FCA;
}
.define-icon :hover{
    font-size: 30px;
    color: #A2D1E6;
}
.design-process{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 80%; */
}
.persona-img{
  width: 45px;
}
.define-scene{
    font-size: 30px;
    color: #1EBB58;
    margin-right: 20px ;
}
.div-scene{
    display: flex;
}
/* Find a more elegant solution.scenario for Alice is always 3.75px off for some reason */
.odd-one{ 
    padding-left: 3.75px;
    padding-bottom: 3.75px;
}
.fudger ReactPlayer{
    padding-bottom: 5px;
}
.design .wrapper {
  position: relative;
  padding-top: 56.25%;
}

.player {
  width: 100%;
  height: 100%;
}

/* For language learning */
.language-learning table {
    border-collapse: collapse;
  }
.language-learning table, .language-learning th, .language-learning td {
    border: 1px solid #dee2e6;
  }