/* For project.js */
.projects .grid-container{
    margin-top: 3%;
}
.projects .nav-grid{
    width: 30%;
    /* height: 5cm; */
    float: left;
    margin: 1.66%;
    text-align: center;
    color: black;
    /* font-size: 19px; */
}

.projects .img-grid{
    width: 100%;  
    padding-bottom: 12px;  
}
/* For brick-breaker.js */
.brick-breaker .game{
    width:960px;
    height:600px;
    border:0;
}
.brick-breaker .info-sheet{
    border: 1px solid black;
}

/* For Fudger */
.fudger hr{
    /* width: 50%; */
    margin-left: 0px;
}

.fudger *{
    text-align: justify;

}