.resume{
    height: 100%;
    /* padding: 50px; */
    padding-right: 3%;
    padding-left:3% ;
}
.react-pdf__Page__canvas{
    outline: 30px solid #F8F8F8;
    margin-top: 40px;
    margin-bottom: 40px ;
}
.document{
    padding-top: 30px;
}
.resume Button{
    width: 8cm;
    background-color: grey;
    color:white;
    margin-bottom: 20px;
}

.resume a{
    text-align: right;
    color: grey;
    font-size: 16px;
}
.resume a:hover{
    color: #A2D1E6;
}
.react-pdf__Page__annotations.annotationLayer{
    width: 0px;
    height: 10px;
}
.resume .a-left{
    text-align: left;
}
/* .top, .bottom, .left, .right {
    position: fixed;
    background: #769FCA;
	}
	.left, .right {
		top: 0; bottom: 0;
		width: 15px;
		}
		.left { left: 0; }
		.right { right: 0; }
		
	.top, .bottom {
		left: 0; right: 0;
		height: 15px;
		}
		.top { top: 0; }
		.bottom { bottom: 0; } */