/* .resume{
    transform: translate(-50%, -50%); 
    text-align: right;  
  
    margin: 0;
    position: absolute;
    top: 71%;
    left: 50%;

    -ms-transform: translate(-50%, -50%);
} */
.resume{
    /* background-image: url("../pictures/f1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* width: 50%; */
    height: 100%;
    /* padding: 50px; */
}
.react-pdf__Page__canvas{
    outline: 30px solid #F8F8F8;
    margin-bottom: 40px ;
}
.document{
    padding-top: 30px;
}
.resume Button{
    width: 8cm;
    background-color: grey;
    color:white;
    margin-bottom: 20px;
}
.resume h2{
    font-size: 40px;
    color: #083358;
    padding: 0px;
    text-decoration: overline;
}
.resume a{
    text-align: right;
    color: grey;
    font-size: 16px;
}
.resume a:hover{
    color: #A2D1E6;
}
.react-pdf__Page__annotations.annotationLayer{
    width: 0px;
    height: 10px;
}

/* .top, .bottom, .left, .right {
    position: fixed;
    background: #769FCA;
	}
	.left, .right {
		top: 0; bottom: 0;
		width: 15px;
		}
		.left { left: 0; }
		.right { right: 0; }
		
	.top, .bottom {
		left: 0; right: 0;
		height: 15px;
		}
		.top { top: 0; }
		.bottom { bottom: 0; } */